<!DOCTYPE html>
<html>
<head>
	<title>Palindrome Checker</title>
	<link rel="stylesheet" type="text/css" href="/public/css/styles.css">
</head>
<body class="king">
	{{{body}}}
	<script src="/public/js/form.js"></script>
</body>
</html>