<h1>Palindrome Checker</h1>
<form method="post" id="form_static">
<label> Input: <input type="text" name="palindrome" id="palindrome" required></label>
<button class="myButton" type="submit">Submit</button>
</form>
<div id="error_container" class="hidden"></div>

<div class="listclass">
	<ul id="palindromechecker">
	</ul>
</div>
<footer>
	<div class="info">
		Name: Yugaank Sharma, <label id="emailid">Email Id - ysharma@stevens.edu</label>, Course - CS546
	</div>
</footer>